body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(120deg, #2b1055, #7597de);
  color: white;
  min-height: 100vh;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: 500;
}

.nav-links a.active {
  border-bottom: 2px solid #fff;
}


.footer {
  text-align: center;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.1);
  position: fixed;
  bottom: 0;
  width: 100%;
}


.home,
.projects,
.contact,
.notfound {
  text-align: center;
  padding: 4rem 2rem;
}

.projects ul {
  list-style: none;
  padding: 0;
}

.projects li {
  background: rgba(255, 255, 255, 0.1);
  margin: 10px auto;
  width: 60%;
  border-radius: 10px;
  padding: 1rem;
  transition: 0.3s;
}

.projects li:hover {
  background: rgba(255, 255, 255, 0.2);
}
