
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #1f96e1 0%, #fda085 100%);
  font-family: "Poppins", sans-serif;
}


.mood-container {
  text-align: center;
  background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
  color: white;
  padding: 50px;
  border-radius: 20px;
  width: 400px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s;
}

.mood-container:hover {
  transform: scale(1.05);
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.4);
}


.mood-title {
  font-size: 2rem;
  margin-bottom: 15px;
  letter-spacing: 1px;
}


.mood-text {
  font-size: 1.5rem;
  margin-bottom: 25px;
}

.mood-text span {
  font-weight: bold;
  color: #ffd700; 
}


.mood-btn {
  background: #ffffff;
  color: #2575fc;
  border: none;
  padding: 12px 25px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.mood-btn:hover {
  background: #ffd700;
  color: #000;
  transform: scale(1.1);
}
