.contact-container {
  text-align: center;
  padding: 60px 20px;
  animation: fadeIn 1s ease-in-out;
  background: linear-gradient(145deg, #1e1e2f, #181926)
}

.contact-title {
  font-size: 40px;
  margin-bottom: 10px;
  color: #e4eb07;
}

.contact-subtitle {
  color: #ffffff;
  margin-bottom: 40px;
  font-size: 18px;
}

.contact-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.contact-card {
  width: 350px;
  padding: 20px 25px;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 20px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  transition: 0.3s;
  color: white;
}

.contact-card:hover {
  background: rgba(255, 255, 255, 0.2);
  transform: translateY(-5px);
  box-shadow: 0px 6px 15px rgba(0,0,0,0.3);
}

.icon {
  font-size: 40px;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}
